<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Member Update by Admin</title>
    <link rel="import" href="member_add.html">
    <link rel="import" href="member_find_change_delete.html">
    <link rel="import" href="member_list.html">
  </head>
  <body>
    <element name="member-update-by-admin" extends="section">
      <template>
        <content></content>
        <member-add members="{{ members }}"></member-add>
        <member-find-change-delete
          members="{{ members }}">
        </member-find-change-delete>
        <member-list members="{{ members }}"></member-list>
      </template>
      <script type="application/dart" src="member_update_by_admin.dart">
      </script>
    </element>
  </body>
</html>
