<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Member Find Change Delete</title>
    <link rel="import" href="member_add.html">
  </head>
  <body>
    <element name="member-find-change-delete" extends="member-add">
      <template>
        <div>
          <button on-click="find()">Find</button>
          <button on-click="change()">Change</button>
          <button on-click="delete()">Delete</button>
          <label id="find-change-delete-message"></label>
        </div>
        <style>
          #find-change-delete-message {
            font-size: 14px;
            background: lightyellow;
          }
        </style>
      </template>
      <script type="application/dart" src="member_find_change_delete.dart">
      </script>
    </element>
  </body>
</html>
