<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Member Update</title>
  </head>
  <body>
    <element name="x-member-update" extends="span">
      <template>
        <div>
          <label id="code-label"></label>
          <label for="password">Password</label>
          <input id="password" type="password"/>
          <button on-click="change()">Change</button>
          <label id="message"></label>
          <br/>
          <button on-click="delete()">Delete Account</button>
        </div>
        <style>
          button {
            padding: 1px;
            background: #ffcc99;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            border-style: outset;
            border-color: #d7b9c9;
            font-weight: bold;
            text-align: center;
          }
          div {
            padding: 5px;
          }
          #message {
            font-size: 14px;
            background: lightyellow;
          }
        </style>
      </template>
      <script type="application/dart" src="member_update.dart"></script>
    </element>
  </body>
</html>
