<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Member Sign In</title>
    <link rel="import" href="member_add.html">
    <link rel="import" href="member_update.html">
  </head>
  <body>
    <element name="member-sign-in" extends="span">
      <template>
        <div template instantiate="if showSignIn">
          <label for="sign-in-code">Code</label>
          <input id="sign-in-code" type="text"/>
          <label for="sign-in-password">Password</label>
          <input id="sign-in-password" type="password"/>
          <br/>
          <button on-click="signIn()">Sign In</button>
          <button on-click="signUp()">Sign Up</button>
          <label id="sign-in-message"></label>
          <div template instantiate="if showSignUp">
            <member-add members="{{ members }}">
              after add sign in
            </member-add>
          </div>
        </div>
        <div template instantiate="if showSignOut">
          <button on-click="member()">{{ signedInMember.code }}</button>
          <button on-click="signOut()">Sign Out</button>
        </div>
        <div template instantiate="if showMember">
          <member-update
            member="{{ signedInMember }}" members="{{ members }}">
          </member-update>
        </div>
        <style>
          button {
            padding: 1px;
            background: #ffcc99;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            border-style: outset;
            border-color: #d7b9c9;
            font-weight: bold;
            text-align: center;
          }
          div {
            padding: 5px;
          }
          #sign-in-message {
            font-size: 14px;
            background: lightyellow;
          }
        </style>
      </template>
      <script type="application/dart" src="member_sign_in.dart"></script>
    </element>
  </body>
</html>