<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Member List Update</title>
  </head>
  <body>
    <element name="x-member-list-update" extends="ul">
      <template>
        <h2>Members</h2>
        <label for="code">Code</label>
        <input id="code" type="text"/>
        <label for="password">Password</label>
        <input id="password" type="password"/>
        <br/>
        <label for="firstName">First Name</label>
        <input id="firstName" type="text"/>
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text"/>
        <button on-click="addMember()">Add Member</button>
        <br/><br/>
        <template iterate="member in members.toList()">
          <li>
            {{ member.code }}: {{ member.lastName }}, {{ member.firstName }}
          </li>
        </template>
        <style>
          button {
            padding: 1px;
            background: #ffcc99;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            border-style: outset;
            border-color: #d7b9c9;
            font-weight: bold;
            text-align: center;
          }
        </style>
      </template>
      <script type="application/dart" src="member_list_update.dart"></script>
    </element>
  </body>
</html>
