<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Member Sign In List</title>
    <link rel="components" href="member_sign_in.html">
    <link rel="components" href="member_list_update.html">
    <link rel="components" href="member_list.html">
  </head>
  <body>
    <element name="x-member-sign-in-list" extends="span">
      <template>
        <x-member-sign-in members="{{ members }}"></x-member-sign-in>
        <div template instantiate="if adminSignedIn">
          <x-member-list-update members="{{ members }}"></x-member-list-update>
        </div>
        <div template instantiate="if memberSignedIn">
          <x-member-list members="{{ members }}"></x-member-list>
        </div>
      </template>
      <script type="application/dart" src="member_sign_in_list.dart"></script>
    </element>
  </body>
</html>
